.container_small-card{
    width: 700px;
    margin-bottom: 10px;
}

.container_small-card-content{
    display: flex;
    flex-direction: row;
}

.container_small-card-separator {
    margin-top: 10px;
}

.small-card_picture > img{
    width: 300px;
    min-width: 300px;
    margin-right: 20px;

}

.small-card_title {
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}